:root
{
    /* Background Colors */
    --background-primary: #1E1E1E; 
    --background-secondary: #2C2C2C; 

    /* Text Colors */
    --text-primary: #EAEAEA; /* Main text */
    --text-secondary: #B0B0B0; /* Secondary text, timestamps */

    /* Accent Colors */
    --accent-link: #10A7E2; /* Links and interactive elements */
    --accent-highlight: #19C37D; /* Buttons or highlighted states */

    /* Borders and Shadows */
    --border-color: #3A3A3A; /* Element outlines or separators */

    --input-background: #2C2C2C;
    --input-border: #3A3A3A;
    --input-border-focus: #10A7E2;
    --input-text: #EAEAEA;
    --input-placeholder: #B0B0B0;
}



body
{
    background-color: var(--background-secondary);
    margin:0;
    padding:0;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
    color: var(--text-primary);
}


.header
{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: var(--background-primary);
    
    
    gap: 5px;
}

.header h1
{
    margin: 0;
    flex-grow: 1;
    text-align: center;
}


.body
{
    /* aligns the content to the center */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vh;
    gap: 2rem;
}

/* --------------------Sign in/up and search styling ---------------------------------- */

/* Sign In/Up button styling */
#signInUpButton
{ 
    background-color: var(--background-secondary);
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 1s;
    margin-left: auto;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}
/* Sign In/Up button hover effects */
#signInUpButton:hover
{
    background-color: #1e1f1ffd;
    color:white;
}
/* Sign In/Up button click effects */
#signInUpButton:active 
{
    background-color: #1e1f1ffd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Search bar styling */
#searchBarInp
{
 
    color: rgb(0, 0, 0);
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Search bar styling focus*/
#searchBarInp:focus
{ 
    outline: 3px solid rgb(0, 0, 0);    
}

/* Search button and Add Buddy Button styling */
#searchButton, #addContactButton
{
    background-color: var(--background-secondary);
    color: white;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    transition-duration: 1s;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Search button and Add Buddy Button hover effects */
#searchButton:hover, #addContactButton:hover
{
    background-color: #1e1f1ffd;
    color:white;
}

/* Search button and Add Buddy Button click effects */
#searchButton:active, #addContactButton:active
{
    background-color: #1e1f1ffd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Overlay mode for when displaying form for signup/contact creation */
#overlay, #overlay2
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Centers form */
#overlaySignInForm, #overlayContactForm
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* --------------------------Search/Add---------------------------- */

#searchAdd
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addBuddyForm
{
    background-color: var(--background-primary);
    width: 10vw;
    height:30vh;
    border-radius: 10px;
    gap: 2rem;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





/* --------------------Sign In/Up Form ---------------------------------- */
.signInUpForm
{
    background-color: var(--background-primary);
    width: 20vw;
    height:30vh;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#switchCont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.switch
{
    position: relative;
    display:inline-block;
    width: 4em;
    height:2em;
}

/* Hide default HTML checkbox */
.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}
  /* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before
{
    transform: translateX(2em);
    background-color: #fff;
}

/* Hides Login Initially */
.Login
{
    display: none;
}

.form
{
    display: flex;
    flex-direction: column;
    
    gap:1em;
}

.form input
{
    width: 15vw;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    padding: 0.5em;
}

.form button
{
    height:3em;
    background-color: white;
}

/* -----------------------Adding Contact --------------------------- */


#buddyList
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}

#contact
{
    border-color: black;
    border-width: 1px;
    border-style: solid;

    width: 25vw;

    display : flex;
    flex-direction:row;
}

#contactImage
{
    padding: 20px;
    
}



