:root
{
    /* Background Colors */
    --background-primary: #1E1E1E; 
    --background-secondary: #2C2C2C; 

    /* Text Colors */
    --text-primary: #EAEAEA; /* Main text */
    --text-secondary: #B0B0B0; /* Secondary text, timestamps */

    /* Accent Colors */
    --accent-link: #10A7E2; /* Links and interactive elements */
    --accent-highlight: #19C37D; /* Buttons or highlighted states */
    --accent-error: #FF4D4D; /* Error messages or alerts */


    /* Borders and Shadows */
    --border-color: #3A3A3A; /* Element outlines or separators */

    --input-background: #2C2C2C;
    --input-border: #3A3A3A;
    --input-border-focus: #10A7E2;
    --input-text: #EAEAEA;
    --input-placeholder: #B0B0B0;



}



body
{
    background-color: var(--background-secondary);
    margin:0;
    padding:0;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
    color: var(--text-primary);
}


.header
{
    display: flex;
    flex-direction:row;
    justify-content: center;

    background-color: var(--background-primary);
    
    
    gap: 10px;
}


.body
{
    /* aligns the content to the center */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vh;
    gap: 2rem;
}
/* Overlay mode for when displaying form for signup/contact creation */
#overlay, #overlay2
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Centers form */
#overlaySignInForm, #overlayContactForm
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/* --------------------------Search/Add---------------------------- */

#searchAdd
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addBuddyForm
{
    background-color: var(--background-primary);
    width: 25vw;
    height:35vh;
    border-radius: 10px;
    gap: 1rem;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* -----------------------Create Contact Form------------------- */

#nameContainer,#contactInfoContainer
{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 1em;
}

#contactInput input
{
    width: 10vw;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 0.5em;
}

#addSubmitButton
{
    height: 3em;
    width:10vw;
    background-color: var(--background-primary);
    color: var(--accent-highlight);
    border: 1px solid var(--accent-highlight);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    fill: var(--text-primary);
}

#addSubmitButton:hover
{
    background-color: var(--accent-highlight);
    color: var(--text-primary);
}
/* --------------------Sign In/Up Form ---------------------------------- */
.signInUpForm
{
    background-color: var(--background-primary);
    width: 20vw;
    height:40vh;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#closeButton1, #closeButton2
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    cursor: pointer;

    color: var(--text-primary);
    background-color: var(--background-primary);
    border-style:none;

}
#switchCont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.switch
{
    position: relative;
    display:inline-block;
    width: 4em;
    height:2em;
}

/* Hide default HTML checkbox */
.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}
  /* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    transition: .4s;
    border-radius: 30px;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider
{
    background-color: var(--accent-highlight);
    border: 1px solid var(--accent-highlight);
}

input:focus + .slider
{
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before
{
    transform: translateX(2em);
    background-color: #fff;
}

/* Hides Login Initially */
.SignUp
{
    display: none;

    font-size: 20px;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.SignIn
{
    display: flex;
    
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.required
{
    color: var(--accent-error);
}
.form
{
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    border-radius: 10px;
    gap:1em;
}

.form ::placeholder
{
    color: var(--input-placeholder);
}
.form input
{
    width: 15vw;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 0.5em;
}

.form button {
    height: 3em;
    background-color: var(--background-primary);
    color: var(--accent-highlight);
    border: 1px solid var(--accent-highlight);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    fill: var(--text-primary);
}

.form button:hover {
    background-color: var(--accent-highlight);
    color: var(--text-primary);
    
}

.inputContainer
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.inputHeader
{
    display: flex;
    flex-direction: row;
}
/* -----------------------Contact Cards --------------------------- */


#buddyList
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}

#contact
{
    border-color: black;
    border-width: 1px;
    border-style: solid 1px var(--input);

    width: 25vw;

    display : flex;
    flex-direction:row;
}

#contactImage
{
    padding: 20px;
    
}



