:root
{
    --backgroundColor: tan;
    --input: ;
    --primaryColor:brown ;
    --secondaryColor: ;
}



body
{
    background-color: var(--backgroundColor);
    margin:0;
    padding:0;
}


.header
{
    display: flex;
    flex-direction:row;
    justify-content: center;

    background-color: var(--primaryColor);

    
    gap: 10px;
}


.body
{
    /* aligns the content to the center */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5vh;
}
/* Overlay mode for when displaying form for signup/contact creation */
#overlay, #overlay2
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

/* Centers form */
#overlaySignInForm, #overlayContactForm
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* --------------------------Search/Add---------------------------- */

#searchAdd
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.addBuddyForm
{
    background-color: white;
    width: 10vw;
    height:30vh;
    border-radius: 10px;
    gap: 2rem;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





/* --------------------Sign In/Up Form ---------------------------------- */
.signInUpForm
{
    background-color: white;
    width: 20vw;
    height:30vh;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#switchCont
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.switch
{
    position: relative;
    display:inline-block;
    width: 4em;
    height:2em;
}

/* Hide default HTML checkbox */
.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}
  /* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider
{
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before
{
    transform: translateX(2em);
    background-color: #fff;
}

/* Hides Login Initially */
.Login
{
    display: none;
}

#form
{
    display: flex;
    flex-direction: column;
    
    gap:1em;
}

#form input
{
    width: 15vw;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    padding: 0.5em;
}

#form button
{
    height:3em;
    background-color: white;
}





#contact
{
    border-color: black;
    border-width: 1px;
    border-style: solid;

    width: 25vw;

    display : flex;
    flex-direction:row;
}

#contactImage
{
    padding: 20px;
    
}



